
table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    padding: 4px;
    text-align: left;
    white-space: nowrap;
}

td {
    max-width: 1000px;
    overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
td::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
td {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


#frame-background {
    fill: white;
    stroke: gray;
}

g.tick text {
    font: 18px sans-serif;
}

